/* $Id$ */

/* Main Layout
==============================*/
#asset-wizard{
	background: #eff5ff url(images/wizard.bg.png) repeat-x 0 0;
	color: #444444;
	font-size: 11px;
	font-family: "Trebuchet MS", arial, sans-serif;	
	padding: 5px;	
	/* 100% height and width */
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#asset-wizard h1{
	color: #5d9dfe;
	font-size: 15px;
	line-height: 24px;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

#asset-wizard a.wizard-close{
	position: absolute;
	top: 0px;
	right: 6px;
	text-decoration: none;
	font-size: 15px;
	line-height: 24px;
	color: #4575a5;
}

.wizard-sidebar,
.wizard-main{
	border: 1px #b9d1f0 solid;
	background: #ffffff;
	overflow: hidden;	
	position: absolute;
	top: 30px;
	bottom: 40px;
}

.wizard-sidebar{
	width: 150px;
	left: 5px; 
}

.wizard-main{
	left: 165px; 	
	right: 5px;
}

/* Buttons
==============================*/
.wizard-buttons{
	position: absolute;
	bottom: 10px;
	right: 5px;
}

.wizard-buttons button,
.wizard-buttons input.form-submit{
	margin: 0;
	border: 1px outset #eee;
	background: #eee;
	font-size: 12px;
	font-family: tahoma;
	padding: 3px 5px;
	cursor: pointer;
}
.wizard-buttons button:active,
.wizard-buttons input.form-submit:active{
	border-style: inset;
}

/* Sidebar links
==============================*/
.wizard-sidebar ul{
	padding: 0;
	margin: 0;
}

.wizard-sidebar ul li{
	margin: 0;
	padding: 0;
	list-style: none;
	background: transparent;
	border-bottom: 1px solid #d4d4d4;
	font-size: 12px;
}

.wizard-sidebar li a,
.wizard-sidebar li span{
	text-decoration: none;
	color: #444;
	display: block;
	height: 20px;
	padding: 6px 5px 0;
}
.wizard-sidebar li span{
	cursor: default;
	color: #aaa;
}
.wizard-sidebar li a:hover{
	text-decoration: underline;
	background: #eff5ff;
}
.wizard-sidebar li span.active{
	background: #eff5ff url(images/sidebar.active.png) no-repeat 0 0;
	padding-left: 20px;
	color: #444;
}

/* Selected asset preview
==============================*/
.wizard-selected{
	width: 150px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	text-align: center;
}
.wizard-selected h2{
	background: #eee url(images/sidebar.selected.png) repeat-x 0 0;
	color: #444;
	font-size: 13px;
	line-height: 13px;
	font-weight: normal;
	padding: 6px 0;
	border-bottom: 1px solid #d4d4d4;
}
.wizard-selected .content{
	padding: .5em;
}

/* Main content section
==============================*/
.wizard-main h2,
.wizard-main .wizard-content{
	padding: 8px 10px;
}

.wizard-main h2{
	color: #3366cc;
	font-size: 18px;
	height: 20px;
	font-weight: normal;
	border-bottom: 1px solid #d4d4d4;	
}

.wizard-content{
	overflow: auto;
	position: absolute;
	top: 36px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.wizard-content input,
.wizard-content textarea{
	max-width: 95%;
	border: 1px inset #eee;
	padding: 4px;
}

/* ugh! thickbox has a #TB_window a:link selector */
#asset-wizard .wizard-content a{
	color: #3366cc;
	text-decoration: underline;
}

/* Item lists
==============================*/
/* ugh! garland has a .item_list ul li selector */
#asset-wizard .item-list ul{
	padding: 0;
	margin: .5em 0;
}
#asset-wizard .item-list li{
	padding: 0;
	margin: 0 0 1em;
	background-image: none;
}
#asset-wizard .item-list li a{
	font-size: 14px;
}



/**
 * Wizard Step 1: Browse
 */
.asset-wizard-browse li{
  float: left;
	text-align: center;
	margin: 1em 1em 1em 0;
	padding: 0;
	list-style: none;
	background-image: none;
	width: 80px;
}
/* ugh! thickbox has a #TB_window a:link selector */
#asset-wizard .asset-wizard-browse li a{
	display: block;
	text-decoration: none;
	border: solid 1px #f0f0f0;
	font-size: .9em;
}
.asset-wizard-browse li a:hover{
	text-decoration: none;
	background-color: #B5D5FF;
	border-color: #eee;
}
.asset-wizard-browse li .icon{
	height: 64px;
	width: 64px;
	overflow: hidden;
	margin: 0 auto;
}

.asset-wizard-browse li .caption{
	height: 2.4em;
	line-height: 1.2em;
	overflow: hidden;
}

/**
 * Wizard Step 3: Preview and Finish
 */
.asset-wizard-preview{
	margin: 1em auto;
}

