.asset-directory-browse li{
  float: left;
	text-align: center;
	margin: 1em 1em 1em 0;
	padding: 0;
	list-style: none;
	background-image: none;
	width: 80px;
}
.asset-directory-browse li a{
	display: block;
	text-decoration: none;
	border: solid 1px #f0f0f0;
	font-size: .9em;
}
.asset-directory-browse li a:hover{
	text-decoration: none;
	background-color: #B5D5FF;
	border-color: #eee;
}
.asset-directory-browse li .icon{
	height: 64px;
	width: 64px;
	overflow: hidden;
	margin: 0 auto;
}

.asset-directory-browse li .caption{
	height: 2.4em;
	line-height: 1.2em;
	overflow: hidden;
}





